<div class="header">
  <div class="wrapper">
    <ul class="nav">
      <li>
        <a href="mailto:peter@westendorp.name" target="_blank">peter@westendorp.name</a>
      </li>
      <li>
        <a data-modal="true" href="archive.html">
          Archive
        </a>
      </li>
      <li>
        <a href="/#lab" class="shelf-nav active" data-view-shelf="bottom">
          Lab
        </a>
      </li>
      <li>
        <a href="/#blog" class="shelf-nav" data-view-shelf="middle">
          Blog
        </a>
      </li>
      <li>
        <a href="/#links" class="shelf-nav" data-view-shelf="top">
          Links
        </a>
      </li>
    </ul>
  </div>
</div>
