<head>
  <meta charset="UTF-8">
  <meta name="copyright" content="Copyright 2013 Peter Westendorp">
  <meta name="language" content="en">
  <meta name="author" content="Peter Westendorp">
  <meta name="description" content="I'm a front-end developer living in London.
   I work at Mint Digital, a company that builds delightful social websites.">
  <meta name="keywords" content="peter, westendorp, html5, html, xhtml, css, css3, javascript, jquery, user experience, front-end, developer, frontend, json, ajax, xhr, canvas, 3d css, 3d transforms, 3d">
  <title>{{ page.title }}</title>
  <link rel="icon" type="image/x-icon" href="favicon.gif" />

  <script src="js/modernizr-2.5.3.min.js"></script>

  <!-- DISCLAIMER: This website doesn't show you a good example of lean markup
  or performance optimisation, but that's not the point of this website. It is build to demonstrate the power of css and to show some of my work. -->

  <link rel="stylesheet" href="css/reset.min.css">
  <link rel="stylesheet" href="css/site.css">
  <link rel="stylesheet" href="css/shelves.css">
  <link rel="stylesheet" href="css/sh_greenlcd.min.css">
</head>
